<nav class="navbar justify-content-start navbar-dark bg-dark">
    <div class="d-inline">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-controls="collapseWidthExample" aria-expanded="false" >
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <a class="navbar-brand flex-grow-1" href="#">
        Quản lý điểm học sinh
    </a>
    <div class="me-3">
        <partial name="_LoginPartial"/>
    </div>
</nav>