
<div class=" collapse collapse-horizontal" id="collapseWidthExample" >
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;height:100%;">
        @* <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Menu</span>
        </a>
        <hr> *@
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="btn btn-dark">
                <a asp-controller="Home" asp-action="Index" class="nav-link text-white" aria-current="page">
                    Trang chủ
                </a>
            </li>
            <li class=" btn btn-dark">
                <a asp-controller="Lop" asp-action="Index" class="nav-link text-white">
                    Danh sách lớp
                </a>
            </li>
            <li class="btn btn-dark">
                <a asp-controller="GiaoVien" asp-action="Index" class="nav-link text-white">
                    Danh sách giáo viên
                </a>
            </li>
            <li class="btn btn-dark">
                <a asp-controller="MonHoc" asp-action="Index" class="nav-link text-white">
                    Danh sách môn học
                </a>
            </li>
            <li class="btn btn-dark">
                <a asp-controller="HocSinh" asp-action="Index" class="nav-link text-white">
                    Danh sách học sinh
                </a>
            </li>
        </ul>
    </div>
</div>