@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<HocSinh>
@{
    ViewData["Title"] = "Học sinh lớp " + ViewBag.LopID;
}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AccountUser> SignInManager
@inject UserManager<AccountUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
<form asp-action="Index" method="get" class="form-inline">
    Nhập tên học sinh <input type="text" name="name" /> <button type="submit" class="btn btn-primary">Tìm</button>
</form>
<div class="ms-2 mx-2" >
    <div id="content">
        @{
            Html.RenderPartial("Table");
        }
    </div>
    @if (user.role == AccountUser.ADMIN)
    {
    <a asp-action="Create" asp-route-lopid=@ViewBag.LopID class="btn btn-primary">Thêm học sinh</a>
        
    }

    <select id="val-page" class="custom-select mr-sm-2">=
        @for (int i = 1; i <= ViewBag.maxPage; i++)
        {
            <option value="@i">@i</option>
        }

    </select>
    <button class="btn-page">>></button>
</div>
<script>

    $(".btn-page").click(function (e) {
        var page = $("#val-page").val();
        console.log("Hêlo" + page);   
        $.ajax({
            url: "Hocsinh\\Test",
            data: {page: page},
            success: function (response) {
                $("div#content").html(response);
            }
        })
    })
        
        
</script>

    
</div>