@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Giáo Viên";
}

@model IEnumerable<GiaoVien>

<div class="ms-2 mx-2">
    @if (ViewBag.Alert)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">Giáo viên còn chi tiết chưa xóa </div>
    }
    <div class="m-3">
        Chọn lớp: <select id="lophoc" class="custom-select mr-sm-2" asp-items="@ViewBag.LopID"></select>
    </div>
    <div class="m-3">
        Chọn môn học: <select id="monhoc" class="custom-select mr-sm-2" asp-items="@ViewBag.MonHoc"></select>
    </div>
    <div id="content">
        @{Html.RenderPartial("Table");}
    </div>
    
    <a asp-action="Create" class="btn btn-primary">Thêm giáo viên</a>
</div>
@section Scripts{
    <script>
        $("select#lophoc, select#monhoc").on('change',createTable);
        function createTable (e) {
            var lopid = $("select#lophoc").val();
            var monid = $("select#monhoc").val();
            console.log(lopid);
            $.ajax({
                url: '@Url.Action("table","GiaoVien")',
                data: { LopID: lopid, MonHocID: monid },
                success: function (response) {
                    console.log("test");
                    $("div#content").html(response);
                }
            },);
        }
    </script>
}